*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(27, 27, 27);
    font-family: "Courier New", monospace;
    background: radial-gradient(circle at top, #001100, #000000);
    height: 100vh
}